# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/
.env/

*.db
data/


# API keys
*.txt
*.key

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
